<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <nav class="nav main-nav">
        <ul>
            <li><a href="/tech">Technology</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/help">HELP</a></li>
            <li><a href="/login">LOGIN</a></li>
            <li><a href="/signin">SIGNUP</a></li>
            
                    <li> <a href="#">SOCIALS</a>
                        <ul class="dropdown" >
                            <a href="#" class="facebookbtn" >
                                <i class="fab fa-facebook"></i>
                            </a><br>
                            <a href="#" class="whatsappbtn">
                                <i class="fab fa-whatsapp"></i>
                            </a><br>
                            <a href="#" class="twitterbtn">
                                <i class="fab fa-twitter"></i>
                            </a><br>
                            <a href="#" class="linkedinbtn">
                                <i class="fab fa-linkedin"></i>
                            </a><br>
                        </ul>
                    </li> 
        </ul>
    </nav>
    <div class="about-form">
        <h3 style="color:whitesmoke"><p> 
        Hello,<br>
        We are introducing to you our project which aims to filter trending technologies and help out moreover all students and other members of the industry. This site enables you to search various projects and technologies alike which would help you to attain a specific berth in the industry.
        <br>We are a team consisting of five(5) members,namely:-<br>
        KAUSHIK CHOWDHURY<br>
        ARCHIMA MANDAL<br>
        AKASH MUKHERJEE<br>
        SOUMILI KUNDU<br>
        PRIYANKA KARMAKAR<br>
        </p></h3>
    </div>
</body>

</html>