<html>                                   
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Registration Form </title>
	<link rel="stylesheet" href="portfolio.css">
</head>
<body cz-shortcut-listen="true">
    <div class="container">
        <h3><b>Prediction Form</b></h3><br>
        <form action="#" class="secActive">

            <div class="form">
                <span class="title">Details :</span><br>
                    <div class="fields">
                            <div class="input-field">
                                    <label>Location:</label>
                    <input type ="text" placeholder ="Enter Location" name="loc"><br>
                            </div>
                            <div class="input-field">
                                    <label>Min_Work_Exp:</label>
                    <input type ="number" placeholder ="Enter work Experience" name="min_work_exp"><br>
                            </div>
                            <div class="input-field">
                                    <label>Javascript:</label>
                    <input type ="text" placeholder ="" name="js"><br>
                            </div>
                            <div class="input-field">
                                    <label>Python:</label>
                    <input type ="number" placeholder ="" name="python"><br>
                            </div>
                            <div class="input-field">
                                <label>OOP:</label>
                    <input type ="number" placeholder ="" name="oop"><br>
                        </div>
                            <div class="input-field">
                                    <label>C_Programming:</label>
                    <input type ="number" placeholder ="" name="c_programming"><br>
                            </div>
                            <div class="input-field">
                                    <label>Front End:</label>
                    <input type ="text" placeholder ="" name="front_end"><br>
                            </div>
                            <div class="input-field">
                                    <label>DB:</label>
                    <input type ="text" placeholder ="" name="db"><br>
                            </div>
                            <div class="input-field">
                                    <label>Eligibility criteria:</label>
                    <input type ="text" placeholder ="" name="eligibility"><br>
                            </div>
                        </div>
                    </div>

                    <div class="buttons">
                        <button type="submit" class="Btn"><b>Submit</b></button>
                    </div> 
                    
                
            </div>                
        </form>

    </div>


</body>
</html>
