<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Help</title>
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <h2>GRANITE.</h2>
    <form method="POST" action="/search">
   <!--<div class="search">
        <input class="search-box" type="text" name="box" placeholder="Search.">--> 
        
    </div>
    </form>

    </div>
    
    <header class="main-header"> 
            
        <nav class="nav main-nav">
            
           <!--<div class="search-wrapper">
                <input type="search" id="search" placeholder="Search.">
            </div>-->
                <ul >
                    <li><a href="/tech">TECHNOLOGIES</a></li>
                    <li><a href="/help">HELP</a></li>
                    <li><submit class="button-nav"><a href="/signin">PREDICTION</a></button></li>
                    <li><submit class="button-nav"><a href="/login">LOGIN</a></submit></li>
                    
                    <!--<div class="dropdown"> -->
                        <!-- <button class="dropbtn" ><img src = "pictures/menu.png" width="25px" ></button>
                            <div class="dropdown-content"> -->
                            <!--<li> <a href="#">SOCIALS</a>
                                        <ul class="dropdown" >
                                            <a href="#" class="facebookbtn" >
                                                <i class="fab fa-facebook"></i>
                                            </a><br>
                                            <a href="#" class="whatsappbtn">
                                                <i class="fab fa-whatsapp"></i>
                                            </a><br>
                                            <a href="#" class="twitterbtn">
                                                <i class="fab fa-twitter"></i>
                                            </a><br>
                                            <a href="#" class="linkedinbtn">
                                                <i class="fab fa-linkedin"></i>
                                            </a><br>
                                        </ul>
                            </li> -->
                            <!--</div>
                    </div> -->
                </ul>
        </nav> 
    </header>
        

        <div class="help-form">
            
            <p>
            <h3 style="color:whitesmoke"><b>Trending technologies will lead you to a page which will arrange each technology according to its relevance in the industry. The search bar presents to you a wide range of projects to choose from for your upcoming placements and meet the standards of the industry.</b>
            </h3></p>

    
        </div>
    </body>
</html>