<html>                                   
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Registration Form </title>
	<link rel="stylesheet" href="static/css/portfolio.css">
</head>
<body cz-shortcut-listen="true">
    <div class="container">
        <h3><b>Registration</b></h3><br>
        <form action="/portfolio2_submit" method='POST'>
            <div class="form second">
                <div class="details education">
                    <span class="title">Academic Qualifications :</span><br>
                    <div class="fields">
                    <div class="input-field">
                        <label>School Name(10th):</label>
                        <input type ="text" placeholder ="Enter your school name" name="sname1"><br>
                    </div>
                    <div class="input-field">
                        <label>Year of Passing:</label>
                        <input type ="text" placeholder ="Enter year of passing" name="year1"><br>
                    </div>
                    <div class="input-field">
                        <label>Marks Secured:</label>
                        <input type ="text" placeholder ="Enter marks" name="marks1"><br>
                    </div>
                    <div class="input-field">
                        <label>School Name(12th):</label>
                        <input type ="text" placeholder ="Enter your school name" name="sname2"><br>
                    </div>
                    <div class="input-field">
                        <label>Year of Passing:</label>
                        <input type ="text" placeholder ="Enter year of passing" name="year2"><br>
                    </div>
                    <div class="input-field">
                        <label>Marks Secured:</label>
                        <input type ="text" placeholder ="Enter marks" name="marks2"><br>
                    </div>
                    <div class="input-field">
                        <label>College Name(UG):</label>
                        <input type ="text" placeholder ="Enter your college name" name="cname1"><br>
                    </div>
                    <div class="input-field">
                        <label>Year of Passing:</label>
                        <input type ="text" placeholder ="Enter year of passing" name="year3"><br>
                    </div>
                    <div class="input-field">
                        <label>Marks Secured:</label>
                        <input type ="text" placeholder ="Enter marks" name="marks3"><br>
                    </div>
                    <div class="input-field">
                        <label>College Name(PG):</label>
                        <input type ="text" placeholder ="Enter your college name" name="cname2"><br>
                    </div>
                    <div class="input-field">
                        <label>Year of Passing:</label>
                        <input type ="text" placeholder ="Enter year of passing" name="year4"><br>
                    </div>
                    <div class="input-field">
                        <label>Marks Secured:</label>
                        <input type ="text" placeholder ="Enter marks" name="marks4"><br>
                    </div>
                    </div>
                </div>
                <div class="buttons">
                    <div class="backBtn">
                        <span class="btnText"><a href="/portfolio1">Back</a></span>
                            <i class ="uil uil-navigator"></i>
                    </div>

                    <button class="nextBtn">
                        <span class="btnText"><a href="/portfolio3">Next</a></span>
                            <i class ="uil uil-navigator"></i>
                    </button>                   
                </div>      
            </div>
        </form>
    </div>
</body>
</html>