<html>                                   
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Registration Form </title>
	<link rel="stylesheet" href="static/css/portfolio.css">
</head>
<body cz-shortcut-listen="true">
    <div class="container">
        <h3><b>Registration</b></h3><br>
        <form action="/portfolio3_submit" method="POST">
            <div class="form third">
                <div class="details education ">
                    <span class="title">Educational Details :</span><br>
                    <div class="fields">
                        <div class="input-field">
                            <label>Programming Skills:</label>
                            <input type ="text" placeholder ="Write about your Programming Skills" name="skills"><br>
                        </div>
                        <div class="input-field">
                            <label>Frontend:</label>
                            <input type ="text" placeholder ="Write about your Frontend Skills" name="front"><br>
                        </div>
                        <div class="input-field">
                            <label>Backend:</label>
                            <input type ="text" placeholder ="Write about your Backend Skills" name="back"><br>
                        </div>
                        <div class="input-field">
                            <label>Subjects of Interest:</label>
                            <input type ="text" placeholder ="Write about your favourite subjects" name="interest"><br>
                        </div>
                        <div class="input-field">
                            <label>Extra-Curricular Activities:</label>
                            <input type ="text" placeholder ="Write about your Activities" name="activity"><br>
                        </div>
                        
                        <div class="input-field">
                            <label> Career Objectives:</label>
                            <input type ="text" placeholder ="Objectives" name="obj"><br>
                        </div>
                        <div class="input-field">
                            <label>Courses Undergone:</label>
                            <input type ="text" placeholder = "Courses" name="course"><br>
                        </div>
                        <div class="input-field">
                            <label>Experienced:</label>
                            <input type ="text" placeholder = "Write about your Experience" name="experience"><br>
                        </div>
                        <div class="input-field">
                            <label>Summery Of You:</label>
                            <input type ="text" placeholder = "Write about your Experience" name="summ"><br>
                        </div>
                        
                    </div>
                </div>

                    <div class="buttons">
                        <button class="backBtn">
                            <span class="btnText"><a href ="/portfolio2" style="text-decoration: none;">Back</a></span>
                        </button>
                        <button type="submit" class="Btn" ><b>Submit</b></button>
                    </div> 
            </div>
            
        </form>



       
         
    </div>
</body>
</html>