<html>
    <head>
        <meta charset="utf-8">
        <title> Side Menu Bar </title>
        <link rel="stylesheet" href="static/css/sidebar.css">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="sidebar">
            <header>My Website</header>
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Shortcuts</a></li>
                <li><a href="#">Overview</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </div>
            
    </body>
</html>