<html>                                   
<head>
	<title>Sign In</title>
	<link rel="stylesheet" href="static/css/style.css">
		
</head>
<body>
	<h2 class="h2"><a href="/">GRANITE.</a></h2>
    <form method="POST" action="/search">     
    </div>
    </form>
    </div>
    <header class="main-header">           
        <nav class="nav main-nav">
                <ul >
                    <li><a href="/tech">TECHNOLOGIES</a></li>
                    <li><a href="/help">HELP</a></li>
                    <li><submit class="button-nav"><a href="/signin">PREDICTION</a></button></li>
                    <li><submit class="button-nav"><a href="/login">LOGIN</a></submit></li>
                    
                    
                </ul>
        </nav> 
    </header><form method="POST" action='/create_user'>

		<div class="sign-in-form">

			<img src="static/pictures/user-Icon.png">
			<h3><b> Sign In Now: </b></h3>

				<h3><b>Username:</b>
				<input class="input-box" placeholder="Enter username" type="text" name="name">

				<h3><b>Email:</b>
				<input type ="email" class="input-box" placeholder ="Enter email" name="email"></h3>

				<h3><b>Password:</b>
				<input type ="password" class="input-box" placeholder ="Enter password" name= "password"></h3>

			<center><button type="submit">Signin</button></center>
			
		<h4 align ="center">Already have an account?<a href ="/login">Login here.</a></h4>
	</div>
	</form>

</body>
</html>











































	